
 
 .Carousel{
     /* height: 300px; */
   
     background: rgb(0, 0, 0);
     
     padding: 35px;
     z-index: 2;
     overflow: hidden;
 }
 
 .carousal-scroll{
     
     width: 96%;
     height: 95%;
     border-radius: 10px ;
     transition: 0.5s;
     
    }
 .carousal-scroll2{
     /* transform: translateY(-30px); */
     width: 96%;
     height: 80%;
     border-radius: 10px ;
     transition: 0.4s;
     
    }

.carousal-scroll:hover{
    border: 1px solid white;
    
    /* transform:scale(1); */
}
.carousal-scroll2:hover{
    border: 1px solid white;
    
    /* transform:scale(1.1); */
}

.popular-on-netflix{
       background: black;
       color: white;
       font-weight: 500;
    font-size: 24px;
    padding-left: 110px;
}